<div class="form-section">
  <section class="header">Reset password</section>
  <form>
    <input class= "emailfield" type="text" name="email" placeholder="Enter your email">
    <input class= "reset-button" type="submit" value="Reset password">

  </form>
</div>
