<div class="form-section">
  <section class="header">Create your account</section>
  <form>
    {{input class="namefield" type="text" name="name" placeholder="Enter your name ..."}}
    {{input class="usernamefield" type="text" name="username" placeholder="Enter your username ..."}}
    {{input class= "passwordfield" type="password" name="password" placeholder="Enter your password ..."}}
    {{input class= "signup-button" type="submit" value="Sign up"}}
    <div class="links-signup">
      <p>{{#link-to 'login.index'}}Login{{/link-to}}</p>
    </div>
  </form>
</div>
