  <div class="container">
    <div class="mast-login">
      <div class="telegram-logo">
        <img src ="pictures/telegram-logo.png" />
      </div>


      <div class="login-section">
        <div class="postmark-logo">
          <img src="pictures/postmark.png" />
        </div>
      <div>
          {{outlet}}
        </div>

      </div>

      <div class="clearboth"> </div>

    </div>
  </div>
