<ul>
  {{#each post in model}}
  <li>
    <ul>
     {{post.title}}
    <li>
      {{post.createdBy.name}} : {{post.body}}
    </li>
    <
    </ul>
  </li>
  {{/each}}


</ul>
<p>{{session.user.name}}</p>
