<h1>Welcome to Telegram please login or sign up using this link {{#link-to 'signup'}}Sign up{{/link-to}} if you don't have an account </h1>
<h2>If you forgot your password use the following link {{#link-to 'reset'}}Reset Password{{/link-to}}</h2>
