<h1>to sign up, please input all your details in the form shown below</h1>
<h2>If you already have a username sign in using this link {{#link-to 'login'}}Log in{{/link-to}}</h2>
<h3>If you forgot your password reset your password using this link {{#link-to 'reset'}}Reset Password{{/link-to}}</h3>
